#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#github-link {
  position: fixed;
  top: 12px;
  right: 12px;
  color: gray;
}

button {
  --cursor-button: pointer;
}

.card {
  margin: 24px 0;
  --card-border-width: 2px;
}

.card-red {
  background: red;
}

.card-orange {
  background: orange;
}

.card-blue {
  background: blue;
}

.card-green {
  background: green;
}

.card-purple {
  background: purple;
}

.card-yellow {
  background: yellow;
}

.select-margin {
  margin-top: 12px;
}

.display-button {
  width: 250px;
}
