#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  margin: 24px 0;
}

.card-red {
  background: red;
}

.card-orange {
  background: orange;
}

.card-blue {
  background: blue;
}

.card-green {
  background: green;
}
