@font-face {
  font-family: "Exo-Bold";
  src: local("Exo-Bold"), url("./fonts/Exo-Bold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Exo";
  src: local("Exo"), url("./fonts/Exo-Regular.ttf") format("truetype");
  font-weight: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hide {
  visibility: hidden;
}

.exo {
  font-family: "Exo";
}

.exo-bold {
  font-family: "Exo-Bold";
}

button {
  --cursor-button: pointer;

  &.hover-effect:hover {
    background-color: #004cff10;
    box-shadow: 3px 3px 3px rgba(1,1,1,.2);
    outline: solid 1px blue;
  }
}

.card {
  margin: 24px 0;
  --card-border-width: 2px;
  transition: 500ms;

  &.no-box-shadow::after {
    box-shadow: none;
  }
}

.card-answer {
  height: 7rem;
}

.card-red {
  background: red;
}

.card-orange {
  background: orange;
}

.card-blue {
  background: blue;
}

.card-green {
  background: green;
}

.card-purple {
  background: purple;
}

.card-yellow {
  background: yellow;
}

.card-gray {
  background: lightgray;
}

.select-margin {
  margin-top: 12px;
  margin-bottom: 4px;
}

.no-motion-value {
  margin: 18px 0 10px 0;
}

.display-button {
  width: 250px;
}

.motion-on {
  display: block;
}

.motion-off {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  .motion-on {
    display: none;
  }

  .motion-off {
    display: block;
  }

  .card {
    transition: 0ms;
  }
}

